@mixin transition() {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

$primary: #F7901E;
// orange
$primary-dark: #F38409;

$white: #FFFFFF;

$black: #000;
$blackish: #666;
$gray: #777;

body, input, textarea {
  color: $blackish;
}

body {
  background-image: url("/images/DenverSkyline.png")
}

input, textarea {
  border: 1px solid $gray;
}

input:focus, select:focus, button:focus {
    outline: none !important;
    border: 1px solid $primary;
    box-shadow: 0 0 4px $primary;
}

label.small {
  color: $primary;
}

select, option {
  background-color: $primary;
  color: $white;
}

h1, h2, h3, h4, h5 {
  color: $primary;
}

.browse, .profile  {
  background-color: $white;
}

.button {
  background-color: $primary;
  color: $white;
  box-shadow: 1px 1px 1px $blackish;
}

.button:hover {
  background-color: $primary-dark;
}

.dashboard-left, .dashboard-right {
  background-color: transparentize($black, 0.3);
  color: $white;
}

.disabled {
  background-color: $gray;
}

.disabled:hover {
  background-color: $blackish;
}

.fa {
  color: $primary;
  cursor: pointer;
}
.fa:hover {
  color: $primary-dark;
}

.fa-plus, .fa-plus:hover, .fa-check, .fa-check:hover {
  color: $white !important;
}

.interest {
  background-color: $primary;
}

.interest:hover {
  background-color: $primary-dark;
}

.invalid {
  border: 2px solid $primary-dark;
}

.navbar-component {
  background: $black;
  opacity: 1.0;

  a, h1, h2, h3, h4, h5 {
    color: $white;
  }

  #login-dropdown-list, .accounts-dialog {
    opacity: 1.0;
    a {
      color: $blackish;
    }
  }

  #login-buttons .login-button, .accounts-dialog .login-button {
    background: $primary;
    border: $primary-dark;
  }
}

.panel {
  border: 1px solid $blackish;
  box-shadow: 1px 1px 1px $blackish;
}

.panel-small {
  @include transition;
  background-color: $blackish;
  color: $white;
  a {
    color: $white;
  }
}

.panel-small:hover {
  @include transition;
  background-color: $black;
}
