$primary: #F7901E;
// orange
$primary-dark: #F38409;

$white: #FFFFFF;

$blackish: #666;
$gray: #777;

body, input, textarea {
  color: $blackish;
}

.button {
  background-color: $primary;
  color: $white;
  box-shadow: 1px 1px 1px $blackish;
}

.button:hover {
  background-color: $primary-dark;
}

input, textarea {
  border: 1px solid $gray;
}

input:focus, select:focus {
    outline: none !important;
    border: 1px solid $primary;
    box-shadow: 0 0 4px $primary;
}

select, option {
  background-color: $primary;
  color: $white;
}

form {
  h5 {
    color: $primary;
  }
}
