* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
  display: inline-block;
}

// #dashboard-component {
//   width: 40%;
//   float: left;
// }
//
// #profile-component {
//   width: 60%;
// }
