

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

.banner {
  background-image: url("/images/typing.jpg");
  background-position: center -11em;
  background-size: 100%;
  height: 30em;
  position: relative;
  padding: 10em;
  h1 {
    text-align: center;
  }
}

.browse-inner, .todo-list {
  overflow: scroll !important;
  height: 47em;
}

.contact-list, .recommended-list {
  overflow: scroll !important;
  float: right;
}

.contact-list {
  height: 15em;
  margin-bottom: 1.5em;
}

.contact-header {
  float: right;
}

.landing-tiles {
  margin-left: 20%;
  text-align: center;
  div {
    height: 15em;
  }
}

.landing-contact {
  height: 43em;
  img {
    height: 30px !important;
    margin-top: 20px;
  }
  table {
    margin: 0 auto;
  }
  #g-link {
    position: relative;
    left: 3em;
  }
}

.landing-button {
  width: 20%;
  margin: 30px;
  margin-left: 40%;
  padding: 10px;
  display: block;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
}

.recommended-list {
  height: 25em;
}

.profile {

  .fa-envelope, .contact, .contact-header {
    float: right;
  }

  .fa-envelope {
    padding: 5px;
  }
}

.fa-bars {
  float: right;
}

.fa-pencil {
  float: left;
}

.fa-remove {
  float: right;
}

.landing-page {
  cursor: default;
  img {
    height: 5em;
  }
}

.messenger {
  h5 {
    text-align: right;
    margin: 0;
    margin-top: 20px;
  }
  button {
    margin-top: 10px;
    margin-left: 5px;
  }
}

.panel {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
}

.panel-small {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  p {
    margin: 0px;
    margin-top: 5px;
  }
  .fa-envelope {
    float: right;
    padding-right: 5px;
  }
}

.panel-small:hover {
  cursor: pointer;
}

.profile, .browse, .messenger, .dashboard-left, .dashboard-right {
  height: 52.25em;
  h3 {
    margin-top: 0px;
  }
}

.post-list {
  overflow: scroll;
  max-height: 25em;
}

.profile, .browse, .messenger {
  margin-left: 20%;
  overflow: scroll;
}

.dashboard-left {
  position: absolute;
  top: 5em;
  left: -16.5%;
  -webkit-transition: 0.2s;
}

.dashboard-right {
  position: absolute;
  top: 5em;
  left: 96.5%;
  -webkit-transition: 0.2s;
}

.dashboard-left-open {
  -webkit-transform: translate(82.5%);
  -webkit-transition: 0.2s;
}

.dashboard-right-open {
  -webkit-transform: translate(-82.5%);
  -webkit-transition: 0.2s;
}


.navbar-component {
  height: 5em;
  h3, h5 {
    margin: 0;
    margin-left: 30px;
    display: inline-block;
  }
  img {
    height: 1.5em;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
  }
  #login-buttons {
    position: absolute;
    left: 80%;
    text-align: right;
  }
  #login-dropdown-list, .accounts-dialog {
    position: absolute;
    top: 5%;
    right: 5%;
    left: 0;
  }
}

.social {
  font-size: 1.6em;
}

#edit-profile-button, #add-contact-button, #delete-account-button {
  float: right;
}

#basic-info {
  text-align: center;
  width: 100%;
  form {
    margin-left: 15%;
  }
}

#react-logo {
  margin-left: 3em;
}

#meteor-logo {
  height: 4em;
  margin: 1.5em;
  margin-left: 5em;
  vertical-align: bottom;
}
